<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-P50R59GSVY"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-P50R59GSVY');
  </script>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ site.title }} - {{ page.title | otherwise:site.subtitle }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/logo/apple-touch-icon-180x180.png">

  {% if site.description %}<meta name="description" content="{{ site.description | markdownify | strip_html }}">{% endif %}
  {% if site.author %}<meta name="author" content="{{ site.author }}">{% endif %}

  <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/general_feed.xml" title="General Site Atom Feed (No Podcast Metadata!)" />
  {{ site | episode_feeds_html }}

  <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/main.css">

  {% if site.flattr_uid %}{% include flattr_loader.html %}{% endif %}
  {% if site.disqus_shortname %}
  <script>
    {{ site | disqus_config }}
  </script>
  {% endif %}
</head>

<body class="p-7 text-white text-center m-auto" style="max-width: 400px; background-color: #8C52FF;">
  <header class="mt-5 mb-10">
    <h1 class="font-bold text-2xl mb-5">
      <a href="/">分からんラジオ</a></h1>
    <img width="200px" src="{{ site.url }}/img/logo.jpg" alt="{{ site.title }} logo" class="inline rounded-lg">
    <p class="mt-5">{{ site.description }}</p>
  </header>
  <main>
    {{ content }}
  </main>
  <footer class="mt-10">
    <h3 class="mt-5 font-bold text-xl">Subscribe</h3>

    <ul>
      <li><a target="_blank" href="{{ site['url']}}/episodes.mp3.rss"><i class="fa fa-rss"></i> mp3-RSS-Feed</a></li>
      <li><a target="_blank" href="{{ site.apple_url }}"><i class="fab fa-apple"></i> Apple Podcast</a></li>
      <li><a target="_blank" href="{{ site.spotify_url }}"><i class="fab fa-spotify"></i> Spotify</a></li>
      <li><a target="_blank" href="{{ site.google_url }}"><i class="fab fa-google-play"></i>Google Podcast</a></li>    
    </ul>
    
    <h3 class="mt-5 font-bold text-xl">Links</h3>
    
    <ul>
      <li><a target="_blank" href="https://twitter.com/wakaranradio">Twitter</a></li>
      <li><a target="_blank" href="https://yhmk.org">yhmk.org</a></li>
      <li><a target="_blank" href="https://moeki.dev">moeki.dev</a></li>
    </ul>
  </footer>
</html>
