<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-P50R59GSVY"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-P50R59GSVY');
  </script>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ site.title }} - {{ page.title | otherwise:site.subtitle }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <meta property="og:title" content="{{ site.title }} - {{ page.title | otherwise:site.subtitle }}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ page.url }}" />
  <meta property="og:image" content="https://wakaran.yhmk.org/img/logo.jpg" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta name="twitter:card" content="summary" />
  <link rel="icon" href="/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/logo/apple-touch-icon-180x180.png">
  {% if site.description %}<meta name="description" content="{{ site.description | markdownify | strip_html }}">{% endif %}
  {% if site.author %}<meta name="author" content="{{ site.author }}">{% endif %}

  <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/main.css">
  <style>
    .article ul {
      list-style: square;
    }
    .article a {
      text-decoration: underline;
    }
  </style>
</head>

<body class="p-7 text-white text-center m-auto" style="max-width: 400px; background-color: #8C52FF;">
  <header class="mt-5 mb-10">
    <h1 class="font-bold text-2xl mb-5">
      <a href="/">分からんラジオ</a></h1>
    <img width="200px" src="{{ site.url }}/img/logo.jpg" alt="{{ site.title }} logo" class="inline rounded-lg">
    <p class="mt-5">{{ site.description }}</p>

    <h3 class="mt-5 font-bold text-xl">配信サービス</h3>

    <ul>
      <li><a target="_blank" href="{{ site['url']}}/episodes.mp3.rss"><i class="fa fa-rss"></i> RSS</a></li>
      <li><a target="_blank" href="{{ site.apple_url }}"><i class="fab fa-apple"></i> Apple Podcast</a></li>
      <li><a target="_blank" href="{{ site.spotify_url }}"><i class="fab fa-spotify"></i> Spotify</a></li>
      <li><a target="_blank" href="{{ site.google_url }}"><i class="fab fa-google-play"></i>Google Podcast</a></li>    
    </ul>
  </header>
  <main>
    {{ content }}
  </main>
  <footer class="mt-10">
    <h3 class="mt-5 font-bold text-xl">関連リンク</h3>
    
    <ul>
      <li><a target="_blank" href="https://twitter.com/wakaranradio">Twitter</a></li>
      <li><a target="_blank" href="https://github.com/moekidev/wakaran">Github</a></li>
      <li><a target="_blank" href="https://yhmk.org">yhmk.org</a></li>
      <li><a target="_blank" href="https://www.instagram.com/tgcats2022/">愉快な猫たち - Instagram</a></li>
      <li><a target="_blank" href="https://moeki.dev">moeki.dev</a></li>
    </ul>
  </footer>
</html>
