---
layout: default
---

<h2 class="font-bold text-xl mb-5">{{ page.title }}</h2>
<audio class="w-full mb-5" controls src="{{ site.download_url }}/{{ page.audio.mp3.filename }}"></audio>

<h3 class="mb-3 text-lg font-bold">あなたの声をお聞かせください！</h3>

<div class="mb-5" data-controller="rating" data-rating-rating-value="0" data-rating-episode-value="{{ page.title }}">
  <i class="text-3xl fa-regular fa-thumbs-up mr-6" data-rating-target="thumb" data-rating="+1"></i>
  <i class="text-3xl fa-regular fa-thumbs-down ml-6" data-rating-target="thumb" data-rating="-1"></i>

  <p data-rating-target="thankyou" class="hidden mt-3 font-bold">ありがとうございます👋</p>
</div>

<div class="text-left article">
  {{ page.content }}
</div>
